certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
influxdb-client==1.46.0
python-dateutil==2.9.0.post0
reactivex==4.0.4
requests==2.32.3
setuptools==75.1.0
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
websockets==13.0.1
